<div class="recent">
    <ul class="post-list">
        {{ range $index, $elem := first 5 ( where .Site.Pages "Section" "post" ) }}
        <li class="post-list-item">
            <a class="post-list-link" href="{{ $elem.RelPermalink}}">
                <div class="post-index">0{{ add $index 1 }}</div>
                <div class="post-meta">
                    <div class="post-title">{{ $elem.Title }}</div>
                    <div class="post-desc">
                        <span class="post-time">
                            {{ $elem.Date.Format "Jan 2, 2006" }}
                        </span>
                        <span class="post-word-count">
                            {{ $elem.WordCount }} words
                        </span>
                    </div>
                </div>
            </a>
        </li>
        {{ end }}
    </ul>
</div>
