$gold: #B59758;
$gray: #757575;
$milk: #F1F1F1;

$logo-color: $gold;
$menu-color: $gray;

// Font
$logo: 'damion';
$menu: 'roboto';
$code: 'fira mono';
$content: 'source sans pro';

// $font-set: 'sans-serif';