header {
    line-height: 60px;
    box-shadow: 0 0px 20px -8px #aaa;
    background-color: #fff;
    
    .logo {
        height: inherit;
        color: #757575;
        font-weight: 100;
        font-size: 26px;
        font-family: 'Damion';
        text-transform: capitalize;
        color: #B59758;
    }
    
    .nav {
        height: inherit;
        margin: 0;
        padding: 0;
    }
    li {
        display: inline-block;
    }
    .nav-item-link {
        padding: 15px 0 15px 15px;
        font-size: 14px;
        color: #7d8998;
        font-family: "roboto";
        text-transform: uppercase;
        font-weight: lighter;
        &:hover, &:active, &:focus {
            color: #B59758;
        }
    }
}