footer {
    font-family: $menu;
    font-weight: 100;
    font-size: 14px;
    color: $menu-color;
    background-color: #fff;
    
    ul {
        margin: 0;
        padding: 0;
    }
    
    li {
        display: inline-block;
    }
    
    a {
        color: inherit;
        margin-right: 10px;
        &:hover, &:active, &:focus {
            color: $logo-color;
        }
    }
}