<meta charset="UTF-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

{{ if .IsHome }}
    <title>{{ .Site.Title }}</title>
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ .Site.Title }}">
    <meta property="description" content="{{ .Site.Params.description }}">
    <meta property="og:description" content="{{ .Site.Params.description }}">
{{ else if .IsNode }}
    <title>{{ .Title }} - {{ .Site.Title }}</title>
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ .Title }} - {{ .Site.Title }}">
    <meta property="description" content="{{ .Data.Plural }} - {{ .Site.Params.description }}">
    <meta property="og:description" content="{{ .Data.Plural }} - {{ .Site.Params.description }}">
{{ else if .IsPage }}
    <title>{{ .Title }} - {{ .Site.Title }}</title>
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ .Title }} - {{ .Site.Title }}">
    <meta property="description" content="{{ .Description }}">
    <meta property="og:description" content="{{ .Description }}">
{{ end }}

{{ if .Keywords }}
    {{ $content := delimit .Keywords ", " }}
    <meta property="keywords" content="{{ $content }}">
{{ end }}

{{ if .RSSLink }}
    <link title="RSS - {{ .Site.Title }}" href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml">
{{ end }}

<link rel="canonical" href="{{ .Permalink }}">
<link rel="icon" href="{{ .Site.BaseURL }}/img/favicon.png">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Damion">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://at.alicdn.com/t/font_gahmqv1mno53766r.css">

<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/index.css">

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script src="https://os.alipayobjects.com/rmsportal/MdKQitrPKUBdMIWnhEjN.js"></script>
<script>
window.addEventListener('load', function () {
    Lightense(document.querySelectorAll('article img'), {
        time: 300,
        padding: 40,
        offset: 40,
        keyboard: true,
        cubicBezier: 'cubic-bezier(.2, 0, .1, 1)',
        zIndex: 2147483647
    });
  }, false);
</script>
