pre {
    width: 100%;
}

.hljs {
    display:block;
    padding:1em 2em;
    color: #777;
    overflow-x: scroll;
    background-color: #f8f8f8;
}

.hljs-comment,
.hljs-meta {
    color:#969896
}

.hljs-string,
.hljs-variable,
.hljs-template-variable,
.hljs-strong,
.hljs-emphasis,
.hljs-quote {
    color:#df5000
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-type {
    color:#a71d5d
}

.hljs-literal,
.hljs-symbol,
.hljs-bullet,
.hljs-attribute {
    color:#0086b3
}

.hljs-section,
.hljs-name {
    color:#63a35c
}

.hljs-tag {
    color:#333333
}

.hljs-title,
.hljs-attr,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
    color:#795da3
}

.hljs-addition {
    color:#55a532;
}

.hljs-deletion {
    color:#bd2c00;
}

.hljs-link {
    text-decoration:underline
}
