.sidebar {
    & > div {
        margin-bottom: 1em;
    }

    .search {
        input {
            width: 100%;
            height: 40px;
            border: none;
            border-radius: 4px;
            padding: 6px 16px;
            font-family: $font-set;
            font-weight: 100;
            color: #71778B;
            background-color: #F6F8FA;
            outline: none;
            transition: all 0.5s ease;

            &:focus, &:active {
                color: #333;
                background-color: #FBFDFF;
            }
        }
    }

    .author {
        color: #777;
        text-align: center;
        font-family: $font-set;

        .author-avatar {
            display: block;
            border-radius: 6px;
            width: 80px;
            margin: 0 auto 1em;
            filter: grayscale(0.6);
        }
        .author-name {
            font-size: 22px;
            font-weight: bold;
        }
        .author-job {
            margin-bottom: 1em;
        }
        .author-bio {
            position: relative;
            font-weight: 200;
            padding: 0 0 0 2em;

            &:before {
                content: '“';
                position: absolute;
                top: -0.5em;
                left: 0;
                font-size: 100px;
                font-weight: 900;
                z-index: -1;
                color: #f0f0f0;
            }
        }
        .author-sns-list {
            height: 4em;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-left: 1em;

            li {
                display: inline-block;
            }

            a {
                padding: 15px;
            }
        }
        .author-sns-wechat {
            position: relative;

            .author-sns-wechat-box {
                display: none;
                position: absolute;
                top: 4em;
                left: -75px;
                width: 200px;
                background-color: #fff;

                img {
                    width: 100%;
                    padding: 20px;
                }
            }
            &:hover {
                .author-sns-wechat-box {
                    display: block;
                }
            }
        }
    }

    .tags {
        cursor: pointer;
        margin-bottom: 0.5em;

        li.tag-list-item {
            display: inline-block;
            margin-right:4px;
        }
        a.tag-list-link {
            display: inline-block;
            margin-bottom: 0.5em;
            padding: 4px 8px;
            border-radius: 4px;
            color: #777;
            font-weight: 100;
            background-color: #F6F8FA;

            &:hover {
                background-color: #F1F3F5;
            }
        }
    }

    .recent {
        ul.post-list {
        }

        a.post-list-link {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 0.5em;

            .post-index {
                color: #f0f0f0;
                font-size: 40px;
                line-height: 1.2;
                font-weight: 900;
                font-family: $font-set;
            }

            .post-meta {
                display: flex;
                flex-direction: column;
                margin-left: 1em;

                .post-title {
                    display: inline-block;
                    width: 260px;
                    color: #777;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 1.4;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                .post-desc {
                    color: #777;
                    font-weight: 100;
                }

                .post-word-count {
                    margin-left: 1em;
                }
            }
        }
    }

    .back2top p {
        color: #777;
        padding: 8px 0;
        margin: 0;
        cursor: pointer;
        font-weight: 100;
        text-align: center;
        background-color: #F6F8FA;
    }
}
